* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* Cabeçalho */
header {
    background-color: #1e1e1e;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    padding: 10px;
}

/* Menu */
nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

nav a:hover {
    text-decoration: underline;
}

/* Conteúdo principal */
main {
    max-width: 800px;
    margin: 30px auto;
}

/* Centraliza o artigo */

/* Card do artigo */
.article-card {
    background-color: #ffffff;
    max-width: 720px;
    padding: 30px;
    margin-top: 30px;
    border-radius: 8px;
    border: 1px solid #e5e5e5;
}

/* Título do artigo */
article h1 {
    font-size: 26px;
    margin-bottom: 20px;
    color: #1e1e1e;
}

/* Texto */
article p {
    font-size: 16px;
    line-height: 1.7;
    color: #333;
    margin-bottom: 12px;
}

/* Destaques */
article strong {
    color: #111;
}

/* Código do artigo*/
pre {
    background-color: #f0f0f0;
    padding: 15px;
    margin: 15px 0;
    border-radius: 6px;
    overflow-x: auto;
    font-size: 14px;
    line-height: 1.5;
}

code {
    background-color: #f0f0f0;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 14px;
}

/* Links no artigo */
article a {
    color: #0066cc;
    text-decoration: none;
}

article a:hover {
    text-decoration: underline;
}

/* Rodapé */
footer {
    background-color: #1e1e1e;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
